/* Reset code and common start hare  */
:root{
    --transition: all 0.3s;
    --scale: scale(1.1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-weight: 400;
}
html{
    background-color: #fafafa;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #fff;
    width: 100rem;
    max-width: 100%;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4 -0.1rem 0.1rem 0.1rem #c4c4c4;
    margin: auto;            
}
.text__justify{
    text-align: justify;
}
.text__white{
    color: #fff;
}
.btn{
    background-color: rgb(230, 159, 8);
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    padding: 1rem 0;
    box-shadow: .1rem .1rem .1rem #222;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.section-heading{
    font-size: 6rem;
    font-family: "italiano",cursive;
    text-align: center;
}
.section-center{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    align-items: center;
    justify-content: space-evenly;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Reset code and common end hare  */

/* Header part starts here  */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1rem 1rem;
    

    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;

}
#menu-icon2{
    display: none;
}
.logo-figure{
    border: 2px solid #fff;
}
.logo{
    font-size: 4rem;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li{
    padding: 1rem;
    transition: var(--transition);
}
nav ul li:hover{
   background-color: lightslategrey;
   border-radius: 0.6rem;
}
.nav__link{
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}


/* Header part ends here  */

/* banner section starts here  */
.banner{
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    min-height: 95vh;
    justify-content: center;
}
.banner article{
    flex-basis: 50%;
    margin: 1rem;
}
.banner aside{
    flex-basis: 50%;
    text-align: center;
}
.banner__heading{
    display: inline-block;
    background-color: black;
    padding: 1rem;
    color: white;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    
}
.banner__description{
    font-size: 1.8rem;
}
.banner__img{
    height: 55rem;
    width: 55rem;
    border: .3rem solid;
}
/* banner section ends here  */

/* about-me section starts here  */
#blog-about{
    background-color: #c4c4c4;
}
.cards {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card{
    flex: 1;
    border-radius: 0.6rem;
    background-color: #a09d9d;
    padding: 3rem 1rem;
    margin: 2rem;
    display: flex;
    gap:0.6rem;
    flex-direction: column;
    align-items: center;
    transition:var(--transition);
}
.card:hover{
    transform:var(--scale);
    box-shadow: .2rem .8rem .7rem rgba(10, 10, 10, 0.784);
}
.card__header{
    font-size: 3rem;
}
.card__description{
    padding: 0.4rem 0;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.card__btn{
    width: 80%;
}

/* about-me section ends here  */

/* Archieves-section starts here  */
.archieves-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
}
.archieves__lists{
    display: flex;
    text-align: center;
    gap: 2rem;
}

.archieves__img{
    width: 100%;
    height:100%;
    border-radius: 0.6rem;
    transition: var(--transition);
}
.archieves__img:hover{
    transform: var(--scale);
    box-shadow: .2rem .8rem .7rem rgba(10, 10, 10, 0.784);
}
/* Archieves-section ends here  */
/* Blog-post starts here.. */
.blog__posts{
    gap: 1rem;
}
.blog__post{
    width: 70%;
    margin: 1rem 0;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(44, 44, 44, 0.2), 0 6px 20px 0 rgba(72, 71, 71, 0.19);
    transition: var(--transition);
}
.blog__post:hover{
    transform: var(--scale);
}
.blog-post__heading{
    margin-bottom: 1rem;
    font-size: 2.6rem;
}
.blog-post__sub-heading{
    font-size: 2rem;
}
.blog__aside{
    flex: 1.1;
    
}
.blog__aside img{
    height: 100%;
}
.blog-post__contain{
    flex: 1.9;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 2rem;
    justify-content: space-evenly;
    gap: 1rem; 
}
.blog-post__description{
    font-size: 1.5rem;
    text-align: justify;
}
.blog-post__btn{
    width: 40%;
}
/* Blog-post ends here.. */
/* contact part starts here  */
#contact-section{
    background-color: #4c4c4c;
    min-height: 95vh;
}
form{
    box-shadow:  0 4px 8px 0 rgba(44, 44, 44, 0.2), 0 6px 20px 0 rgba(72, 71, 71, 0.19);
    padding: 1rem;
    color: #fff;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.form-contorl{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-contorl label{
    flex: 0.3;
    font-size: 1.6rem;
}
.form-contorl > input, textarea{
    flex: 0.7;
    width: 40rem;
    padding: 2rem 1rem;
    border: none;
    border-radius: 0.6rem;
}
textarea{
    resize: none;
    height: 12vh;
}
.form-btn-filed{
    display: flex;
    justify-content: flex-end;
}
.contact__btn{
    width: 30%;
}
/* contact part ends here  */
/* Footer section starts here  */
.footer{
    background-color: #222;
    color: white;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1.5rem;
    gap: 1rem;
}
.copyright{
    font-size: 1.2rem;
}
.footer__link{
    color: white;
    transition: var(--transition);
}
.footer__link:hover{
    color: orange;
    transform: scale(1.8);
}
.footer__nav{
    display: flex;
    gap: 1.5rem;
}
.footer__icon{
    font-size: 2rem;
}
/* Footer section starts here  */
/* responcivness stats here  */
@media screen and (max-width:992px) {
    .banner{
        flex-direction: column;
    }
    .banner article{
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items:center ;
        margin-bottom: 5rem;
     }
}
@media screen and (max-width:768px) {
    html {
        font-size: 55.5%;
        
    }
    
    .banner article {
        width: 80%;
    }
    .cards{
        flex-direction: column;
        width: 80%;
    }
    /* .section-center{
        min-height: 100vh;
    }
    */
    #archieves{
        min-height: auto;
    }
    .blog__post{
        width: 80%;
        flex-direction: column;
    }
    .blog__posts{
        gap: 2rem;
    }
    #contact-section{
        min-height: auto;
    }
}
@media screen and (max-width:600px) {
    html {
        font-size: 48.5%;
    }
    header {
        flex-direction: column;
    }
    #menu-icon2{
        display: block;
        margin:2rem 0;
    }
    .hidden{
        display: none;
    }
    nav ul{
        flex-direction: column;
        padding-left: 2.5rem;
       
    }
    .banner{
        min-height: auto;
    }
    .banner article{
        width: 90%;
    }
    .banner__img{
        max-width: 100%;
    }
    #blog-about{
        min-height: auto;
    }
    .cards{
        width: 90%;
    }
    .archieves__lists{
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        gap: 3rem;
    }
    .blog__post{
        width: 90%;
    }
    .section-heading{
        padding-bottom: 2.6rem;
    }
    form{
        width: 90%;
    }
    .form-contorl{
        flex-direction: column;
    }
    .form-contorl > input, textarea{
        margin-bottom: 0.5rem;
    }
    .footer{
        flex-direction: column;
    }
}

/* responcivness ends here  */